<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Catalog App</title>
    <link rel="stylesheet" href="/static/css/main.css?q=1280549781"
   type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <header>
      <h1>Catalog App</h1>
      <div class="login">
        {% if login == "true" %}
          <a href="{{url_for('disconnect')}}">Logout</a>
        {% else %}
          <a href="{{url_for('showLogin')}}">login</a>
        {% endif %}
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
