{% extends "index.html" %}
{% block content %}
<div class="con con1">
  <h2><strong>Categories</strong></h2>
  {% if login == "true" %}
    <a href="{{url_for('newcategories')}}">Add Category</a>
  {% endif %}
  <div class="con_content">
    {% for categorie in categories %}
      <br>
      <a href="{{url_for('Item_Catalog', name = categorie.name)}}">{{categorie.name}}</a>
      {% if login == "true" %}
        <a href="{{url_for('editcategories', name = categorie.name)}}">+</a>
        <a href="{{url_for('delcategories', name = categorie.name)}}">x</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="con con2">
  <h2><strong>latest Items</strong></h2>
  {% if login == "true" %}
    <a href="{{url_for('newItem')}}">Add Item</a>
  {% endif %}
  <div class="con_content">
    {% for item in items %}
      {% for categorie in categories %}
        {% if categorie.id == item.categories_id %}
          <br>
          <a href="{{url_for('Item', name = categorie.name, i_name = item.name)}}">{{item.name}}</a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}
