{% extends "index.html" %}
{% block content %}
  {% if type == "cat" %}
    <form action="#" method="post">
      <div>
        <h2><strong>New Category</strong></h2>
        <br>
        {% if category %}
          <div class="group">
            <input type="text" name = "name" value="{{ category.name }}" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
          </div>
          <input type="submit" value="Update" class="btn btn-default">
        {% else %}
          <div class="group">
            <input type="text" name = "name" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
          </div>
          <input type="submit" class="btn btn-default">
        {% endif %}
      </div>
    </form>
  {% else %}
    <form action="#" method="post">
      <div>
        {% if item %}
          <h2><strong>New Item</strong></h2>
          <br>
          <div class="group">
            <input type="text" name="name" value="{{ item.name }}" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
          </div>
          <h4><strong>Description</strong></h4>
          <textarea name="description" rows="6" cols="50">{{ item.description}}</textarea>
          <h4 id="cat"><strong>Category</strong></h4>
          <select class="opt" name="category">
            {% for category in categories %}
              <option value="{{ category.name }}"
              {% if item.categories_id == category.id %}
                selected
              {% endif %}
              >{{ category.name }}</option>
            {% endfor %}
          </select>
          <input type="submit"value="Update" class="btn btn-default ibtn">
        {% else %}
          <h2><strong>New Item</strong></h2>
          <br>
          <div class="group">
            <input type="text" name="name" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
          </div>
          <h4><strong>Description</strong></h4>
          <textarea name="description" rows="6" cols="50">{{ item.description}}</textarea>
          <h4 id="cat"><strong>Category</strong></h4>
          <select class="opt" name="category">
            {% for category in categories %}
              <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
          </select>
          <input type="submit" class="btn btn-default ibtn">
        {% endif %}
      </div>
    </form>
  {% endif %}
{% endblock %}
